    .main-header-1 {background-color: goldenrod;
    text-align: left;padding: 10px;
    text-shadow: 5px 5px 3px greenyellow;}
    
    .paragraph-1 {background-color: greenyellow;
        text-align: left;padding: 10px;}
    
    .main-header-2 {background-color: goldenrod;
    text-align: left;padding: 10px;
    text-shadow: 5px 5px 3px greenyellow;}

    .paragraph-2 {background-color: greenyellow;
    text-align: left;padding: 10px;}

    .main-header-3 {background-color: goldenrod;
    text-align: left;padding: 10px;
    text-shadow: 5px 5px 3px greenyellow;} 
    
    .paragraph-3 {background-color: greenyellow;
    text-align: left;padding: 10px;}

